.roles-editor {
    min-width:400px;
    min-height:250px;
}

.caseteam-select {
    padding:10px;
    padding-left:23px;
}

.caseteam-grid {
    display: grid;
    grid-template-columns: 20px 200px auto;
    column-gap:3px;
    margin-top:3px;
}
