.divCaseFileEditor {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.divClassicCaseFileEditor, .divCaseTypeEditor {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow:hidden; /* to avoid buttons to show when splitter is minimized */
}

.divClassicCaseFileEditor .schemadatabox {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.divClassicCaseFileEditor .schemadatabox>div {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.divClassicCaseFileEditor .schemadatabox .divCaseFileDefinitions {
    top: 4px;
}
